@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Source+Sans+Pro:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    
    background-color: #FFECD1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    width: 80%;
}

.logo img {
    width: 150px;
    height: 150px;
}

.button {
    display: flex;
    justify-content: right;
    font-family: 'DM Sans', sans-serif;
}


.btn {
    text-decoration: none;
    padding: 10px 50px;
    font-size: 1.5rem;
    position: relative;
    margin: 32px;
    background-color: #15616D;
    color: #FFECD1;
    border-radius: 30px;
    transition: trasform 0.4s ease;
}

.btn2 {
    font-size: 1.5rem;
    position: relative;
    background-color: rgb(255, 125, 0);
    color: rgb(255, 236, 209);
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 30px;
    transition: trasform 0.4s ease 0s;
}

.btn:hover {
    background-color: #001524;
}

.menu {
    justify-content: center;
    font-family: "DM Sans", sans-serif;
}


@media screen and (max-width: 500px) {
    .btn {
      display: block;
    }
  }


section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    text-align: center;
    margin-top: 50px;
}

div h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 3rem;
    color: #15616D;
    display: flex;
    justify-content: center;
}




